body{
  font-family:"Microsoft Yahei"
  color:black;
  background:ffffff;
  margin:0;
  padding:0;
}
a{
  color:inherit;
  text-decoration:none;
}
ul,li{
  list-style:none;
  margin:0;
  padding:0;
}
header{
  width:1000px;
  height:80px;
  line-height:80px;
  font-size:40px;
  font-weight:bold;
  margin:0 auto;
}
.container{
  width:1000px;
  margin:0 auto;
}
.container .box{

}
.container .box .tit{
  text-indent:20px;
  color:gray;
  font-size:20px;
  margin:15px;
}
.container .box .link{

}
.container .box .link ul{
  font-size:0;
}
.container .box .link li{
  display:inline-block;
  font-size:16px;
  width:120px;
  height:45px;
  margin:10px 5px;
}
.container .box .link a{
  display:inline-block;
  width:100%;
  height:45px;
  line-height:45px;
  text-align:center;
  background:#CCCBCB;
  color:black;
  border-radius:5px;
  font-weight:bold;
}
.container .box .link a:hover{
  /*background:rgba(255,255,255,0.5);*/
  color:white;
}
